@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  width: 100%;
  /* background: #8ee0dc; */
}
body::before{
content: '';
position: absolute;
height: 100%;
width: 100%;
left: 0;
top: 0;
background: #45A29E;
clip-path: polygon(86% 0, 100% 0, 100% 100%, 60% 100%);
z-index: -1;
}
/* .active{
  color: white !important;
  background-color: #3f928f !important;
} */
.nav{
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:50px;
    background-color: rgb(31, 40, 51);
}
.nav h2{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #66FCF1;
    padding-top: 56px;
}
.nav-link a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    padding:8px 8px 8px 32px;
}
.nav-link a:hover{
    color: #cfcbcb;
    
}
.nav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.nav .closebtn:hover{
    color: #f1f1f1;
    font-size: 40px;
    cursor: pointer;
    transition: 100ms linear;
}
.user img{
    width: 38px;
    border-radius: 50%;
    padding: 5px;
    border: #66FCF1 solid 2px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
}
span .fa{
    color: #000;
    font-weight: 100;
    font-size: 200%;
}
span.menu-lable{
    font-size: 120%;
    padding: 0 10px ;
    color: black;
    /* background-color: black; */
}
.menu-ico{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.social-icon-nav{
    margin:40px 0 0 20px;
    overflow: hidden;
  }
  .social-icon-nav a{
    display: inline-block;
    color: #cfcbcb;
    font-size: 20px;
    background-color:#45A29E;
    border-radius: 50%;
    padding: 10px 18px;
    margin-left: 15px;
    transition: 0.3s;
    overflow: hidden;
  
  }
  .btn-contact button{
    display: block;
    margin: 018% auto;
    transform: translate(-15px, 0px);
    border:none;
    background-color: #45a29d00;
    border: 1px solid #66FCF1;
    padding: 8px 30px;
    transition: background-color 0.4s linear,border 0.4s ease-in-out;
    overflow: hidden;
  }
.btn-contact button a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    color: #cfcbcb;
    display: block;  
  }
  .btn-contact button:hover{
    background-color: #66FCF1;
    border: none;
    cursor: pointer;
}
.btn-contact button:hover a{

    color: black;
    transition: 0.2s;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container{
  z-index: 1;
  max-width: 1050px;
  width: 100%;
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  border-radius: 12px;
  margin: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-top: -20px;
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}
.content .image-box{
  max-width: 55%;
}
.content .image-box img{
  width: 100%;
}
.content .topic{
  font-size: 22px;
  font-weight: 500;
  color: #000000;
}
.content form{
  width: 40%;
  margin-right: 30px;
}
.content .input-box{
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}
.content .input-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding-left: 16px;
  background: #d6faf8;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.content .input-box input:focus,
.content .input-box input:valid{
  border-color: #45A29E;
  background-color: #fff;
}
.content .input-box label{
  position: absolute;
  left: 18px;
  top: 50%;
  color: #636c72;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.content .input-box input:focus ~ label,
.content .input-box input:valid ~ label{
  top: -8px;
  left: 6px;
  display: 14px;
  color: #000000;
  background: rgba(255, 255, 255, 0);
}
.content .message-box{
  min-height: 100px;
  position: relative;
}
.content .message-box textarea{
  position: absolute;
  height: 100%;
  width: 100%;
  resize: none;
  background: #d6faf8;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease;
}
.content .message-box textarea:focus{
  border-color: #45A29E;
  background-color: #fff;
}
.content .message-box label{
  position: absolute;
  font-size: 16px;
  color: #636c72;
  left: 18px;
  top: 6px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.content .message-box textarea:focus ~ label{
  left: 8px;
  top: -18px;
  color: #000000;
  font-size: 14px;
  background: rgba(255, 255, 255, 0);
}
.content .input-box input[type="submit"]{
  color: #fff;
  background: #000000;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.content .input-box input[type="submit"]:hover{
  background-color: #252929;
}
@media (max-width:1000px) {
  .content .image-box{
    max-width: 70%;
  }
  .content{
    padding: 10px 0;
  }
}
@media (max-width:900px) {
  .content .image-box{
    display: none;
  }
  .content form{
    width: 100%;
    margin-left: 30px;
  }
}
footer{
  position: fixed;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 30px 0;
  text-align: center;
  font-size: 24px;
}
.hov:hover{
  opacity: 0.6;
}
i{
  padding: 0 2px 8px;
}
.light{
  opacity: 0.6;
}

i.hov:hover{
  transform:translate(0,-10px) ;
}
.captcha{
    width: 100%;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;

}
.subnav{
  position: relative;
}
.subnav-content1 {
  display: none;
  position: absolute;
  right: 8px;
  z-index: 1000;
  margin-top: -10px;
  background-color:#3a3b3c;
}
.subnav:hover .subnav-content1 {
  display: block;
}

.subnav-content1 a {
  /* width: 25rem; */
  width: 15rem;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
  display: block !important;
  text-decoration: none;
  font-size: 1.3rem;
}

.subnav-content1   a:hover {
  background-color: #eee;
  color: black;
}
